body {
    color: #333;
    font-family: helvetica;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

header {
    padding: 16px 5%;
    background: #efefef;
    border-bottom: 1px solid #ccc;
}

header h1 {
    height: 24px;
    margin: 0;
    padding: 12px 60px;
    background: url("../img/appicon-48.png") transparent no-repeat 0 50%;
}

section {
    padding: 1.5em 5%;
}

header + section {
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
}

span.checkbox {
    display: inline-block;
    width: 1.5em;
    height: 14px;
    vertical-align: middle;
}
span.checkbox input {
    margin: 0;
}

.meta {
    display: block;
    color: #999;
    height: 12px;
    padding-left: 1.5em;
}

p {
    margin: 0 0 12px 0;
}

p.tag-filter{
    margin-top: 30px;
}

p.tag-filter label{
    font-size: 14px;
}

p.tag-filter textarea{
    display: block;
    margin: 10px 0px;
}

button {
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
